.difficulty {
  width: 100%;
  background: #fff url("../assets/light-bg.jpeg") no-repeat center/ cover;
  padding: 80px 0 50px;
  position: relative;

  &__container {
    min-height: calc(100dvh - 130px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  &__link {
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 55px;
    padding: 5px 0;
    border-radius: 25px;
    font-size: 24px;
    font-weight: 700;
  }
  &__image {
    position: absolute;
    top: 4px;
    left: 20px;
  }
}
.dark .difficulty {
  background: #000 url("../assets/dark-bg.jpeg") no-repeat center/ cover;
}

.nonogram {
  &__link {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    min-height: 55px;
    padding: 5px 0;
    border-radius: 25px;
    font-size: 24px;
    font-weight: 700;
  }
  &__image,
  &__picter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: 45px;
    height: 45px;
  }
  &__size {
    font-size: 16px;
  }
}
