.left-help {
  border-collapse: collapse;
  &__cell {
    background: #cecece;
    text-align: center;
  }
  &__cell--empty {
    background: #dadada;
    cursor: default;
  }
  &--borderBottom {
    border-bottom: 2px solid #8f8f8f;
  }
}
