.nonogram {
  width: 100%;
  background: #fff url("../assets/light-bg.jpeg") no-repeat center/ cover;
  padding: 120px 0 50px;
  position: relative;
  &__container {
    width: 100%;
    min-height: calc(100dvh - 180px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__table {
    border-collapse: collapse;
    border: 2px solid #000000;
  }
  &__td--empty {
    background: transparent;
    border: 2px solid #000;
    cursor: default;
  }
  &__cell {
    width: 25px;
    height: 25px;
    border: 1px solid #8f8f8f;
    cursor: pointer;
  }
}

.dark .nonogram {
  width: 100%;
  background: #000 url("../assets/dark-bg.jpeg") no-repeat center/ cover;
}
