$gutters: 30px;
$container-width: 1200px;

.container {
  height: 100%;
  max-width: $container-width;
  padding-left: calc($gutters / 2);
  padding-right: calc($gutters / 2);
  margin: 0 auto;
}
