$font-family: "Roboto Slab", serif;

//color
$difficulty-light-text: #fff;
$difficulty-light-bg: #606060;
$difficulty-light-bg-hover: #9e9e9e;

$difficulty-dark-text: #000000;
$difficulty-dark-bg: #e8e8e8;
$difficulty-dark-bg-hover: #000;
$difficulty-dark-text-hover: #e8e8e8;
